<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coin Collector</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<nav>
    <a href='/coins/new'>Add A Coin</a>  
    <a href='/coins/'>Back Home</a>
</nav>
<body>