<%- include('./partials/header.ejs') %>
<h1>Gallery</h1>
<img src="Alaska.jpg">
<img src="1900-indian-head.jpg" id="1900">
<img src="1901-Liberty.jpeg" id="1901">
<img src="1902-Indian-head.jpeg" id="1902">
<img src="1903-indian-head.jpeg" id="1903">
<img src="1905-indian-head.jpeg" id="1905">
<img src="1907-Liberty.jpeg" id="1907">
<img src="1912-Liberty.jpeg" id="1912">
<img src="1929 Penny.jpeg" id="1929">
<img src="1930-Nickle.jpeg" id="1930">
<%- include('./partials/footer.ejs') %>
