<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coin Collector</title>
    <link rel='stylesheet' href='/css/style.css'>
</head>
<body>
    <nav>
        <a href="/coins/new">Add A Coin To Your Collection</a>
    </nav>
    <h1>Coins Index Page</h1>
    <table>
        <% for (let i=0; i < coins.length; i++) { %>
            <tr>
            <td>
            <th scope= "row"><a href='/coins/<%=coins[i].id; %>'><%= coins[i].name %></a>
            </td>
            </th>
            <td>
                    <!-- ADD DELETE FORM HERE-->
            <th scope= "row"><input type="submit" value="DELETE"/>
            </td>
            </th>
            <td>
            <th scope= "row"></form><a href="/coins/<%=i%>/edit"> Edit This Coin <%=coins[i] %></a>
            </td>
            </th>
            </tr>
       <%}%>
    </table>
</body>
</html>