nav{
  margin: 1em;
  text-align: center;
}

.flex-container {
display: flex;
justify-content: flex-start;
}

body {
  background-image: url('Money-Jar.jpg');
  background-color:#cfe0c3;
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-family:'Times New Roman', Times, serif;
  background-color: #386641;
  color:#cfe0c3 ;
  font-size: 50px;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
}

a {
  color: #BC4749;
  text-decoration: none;
  text-shadow: 1px 1px 1px #6A994E;
  font-size: 20px;
  padding: .25em;
  margin: 1em;
}

a:hover {
  color: #F2E8CF;
}

li {
  color: #BC4749;
  text-decoration: none;
  text-shadow: 1px 1px 1px #386641;
  font-size: 20px;
  padding: .25em;
  margin: 1em;
}

li a {
  color: #40798c;
}
tr {
  color: #A7C957;
  text-align: left;
  font-size: 20px;

}
input[type=text] {
  padding: .3em;
}

input[type=submit], button {
  padding: .3em;
  color: #386641;
  background: #A7C957;
  font-size: 1em;
  border-radius: 10%;
}