nav{
  margin: 1em;
  text-align: center;
}
body {
  background-image: url('Money-Jar.jpg');
  background-color:#cfe0c3;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
img {
  width: 50%;
  border-radius: 12px;
  height: 150px;
  object-fit:contain;
}

#container {
  column-count: 4;
  column-gap: 20px;
  max-width:min-content
  margin: 0 auto;
  margin-top: 20vh;
  }

.card {
  background-color: white;
  border: 4px solid #386641;
  padding: 4px;
  border-radius: 12px;
}

.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

.card__details {
  padding: 8px 8px 8px 8px
}

h1 {
  font-family:'Times New Roman', Times, serif;
  background-color: #386641;
  color:#cfe0c3 ;
  font-size: 50px;
  text-align: center;
}

a {
  color: #BC4749;
  text-decoration: none;
  text-shadow: 1px 1px 1px #6A994E;
  font-size: 20px;
  padding: .25em;
  margin: 2em;
}

a:hover {
  color: #F2E8CF;
}

input[type=text] {
  padding: .3em;
}

input[type=submit], button {
  padding: .3em;
  color: #386641;
  background: #A7C957;
  font-size: 1em;
  border-radius: 10%;
}